body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #373737;
}

.navbar {
  background-color: dodgerblue;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar a + a {
  margin-left: 20px;
}

.container {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.user,
.link {
  display: flex;
}
.homePage {
  margin: 0 auto;
  max-width: 400px;
  padding: 0 15px;
}

.postPage {
  margin: 0 auto;
  max-width: 400px;
  padding: 15px;
}

#individual {
  max-width: 100%;
}

.postContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 30px;
}

.post {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.title {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  display: grid;
  place-content: center;
  color: white;
  background-color: dodgerblue;
}

.body {
  flex: 60%;
  display: grid;
  place-content: center;
  padding: 15px;
}

.footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  color: white;
  background-color: dodgerblue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.commentList {
  overflow-x: hidden;
  overflow-y: scroll;
  place-content: baseline;
}

.commentContainer {
  padding-left: 5px;
}

.commentContainer input[type="text"] {
  position: relative;
  padding: 0 10px;
  margin: 0;
  top: -1px;
  line-height: 34px;
  height: 34px;
  border: none;
  width: calc(100% - 90px);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 300;
}

.speech {
  position: relative;
  border-radius: 25px;
  padding: 10px 16px;
  background: #eee;
  width: calc(100% - 25px);
  margin-bottom: 5px;
}

.commentContainer > button {
  cursor: pointer;
  position: relative;
  right: -5px;
  top: -1px;
  background: #34495e;
  border: none;
  color: white;
  line-height: 34px;
  width: 60px;
  padding: 0;
  border-radius: 6px;
  font-size: 15px;
}

/* CREATE POST PAGE CSS */

.createPostPage {
  padding: 15px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
  margin: 0 auto;
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

span {
  color: red;
}

.loginForm input {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}
